*{
  box-sizing: border-box;
}

body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90vw;
  min-height:500px;
  scroll-behavior: auto;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:500px;
  max-width:100%;
  padding:2%;
  border: 1px solid lightgray;
}

.list{
  width:100%;
  list-style-type: none;
  padding: 0px;
}
.list-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:15px;
  padding:15px;
  background-color: white;
  box-shadow: -1px -1px 2px lightgray;
  border-right:4px solid red;
}
.list-item-complete{
  border-right: 4px solid darkgreen;
}
.add-to-list{
  display:flex;
  flex-direction: column;
  width:90%;
}
.text-input{
  margin:1%;
}
.btn{
  background-color: grey;
  border:none;
  outline: none;
  color:white;
  height:25px;
}
.btn:hover{
  box-shadow: 1.1px 1.1px 3px lightgray;
}